@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #192a8a
}

header {
  /* position: fixed; */
  background-color: rgb(12, 95, 16);
  width: 100vw;
  margin-top: 0;
  padding: 1rem;
}

header nav li {
  list-style: none;
  text-transform: uppercase;
  display: inline;
  text-decoration: none;
  color: #111111;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-family: 'Righteous', cursive;
}

h2 {
  text-align: center;
  font-family: 'Ubuntu', cursive;
}

nav ul {
  display: flexbox;
  flex-direction: row;
  text-align: center;
}

a {
  text-decoration: none;
  color: #111111;
}

a :hover {
  cursor: pointer;
}

article {
  width: 80vw;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: 2px 2px 3px 3px black;
  margin: 1rem auto;
  /* display: flexbox; */
  background-color: #e7e7e7;
  font-family: 'Righteous', cursive;
}

img {
  width: 100%;
}

p {
  padding: 1rem;
}